[Desktop Entry]
Name=Green Recorder
Comment=Record your desktop easily using a simple GUI.
Exec=green-recorder
Terminal=false
Type=Application
Icon=green-recorder
Categories=GTK;Utility;AudioVideo;
StartupNotify=false
Name[en_US]=green-recorder.desktop
