[Desktop Entry]
Name=Green Recorder
Name[ar]=المسجّل الأخضر
GenericName=Green Recorder
GenericName[ar]=المسجّل الأخضر
Comment=Record your desktop easily using a simple GUI
Comment[ar]=سجّل سطح مكتبم باستخدام واجهة رسومية سهلة
Exec=env GDK_BACKEND=x11 green-recorder
Terminal=false
Type=Application
Icon=green-recorder
Categories=GTK;AudioVideo;
StartupNotify=false
